

#bio {
  @include bg-eggshell();
  @include media-breakpoint-down (sm) {
    padding-top: 38%;
  }
}

#header-container {
  @include fullheight();
}

#shows {
  @include bg-eggshell();
}

.bio-info {
  @extend .col-sm-12;
  @extend .col-md-10;
  @extend .offset-md-1;
  @extend .col-lg-8;
  @extend .offset-lg-2;
  @extend .py-4;

}

.shows-column {
  @extend .col-xl;
  @extend .col-lg-6;
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .p-0;
}



#contact {
  @include bg-eggshell();
}

#footer {
  @include bg-eggshell();
}

.chev-div {
  @extend %centeredX;
  bottom: 10%;
}


.slick-container {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(51, 106, 113, 0.7)),
    url('#{$path-img}/london2-main.JPG');
  background-size: cover;
  padding: 110px 50px;
  position: relative;

  @media #{$brk-narrow} {
    background-image: none;
    background-color: $white;
    padding: 0 0;
  }
}

// .slick-mob {
//   @media #{$brk-narrow} {
//     padding: 0 0;
//   }
// }

.shows-image-container {
  position: relative;
  overflow: hidden;
}

.shows-image {
  height: auto;
  width: 100%;
  -webkit-transition: 1.6s ease;
  transition: 1.6s ease;
}

.shows-image-container:hover .shows-image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}