/* Masthead */

.nav-link {
  color: $white;
  margin: 0 1rem;
  font-size: 1.25rem;

  @media #{$brk-narrow} {
    font-size: 100%;
    color: $black;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);

    // correct?
    @media #{$brk-narrow} {
      transform: scale(1);
    }
  }
}

.logo {
  @extend .col-xl-6;
  @extend .col-lg-8;
  @extend .col-md-10;
  @extend .col-sm-12;
  @extend %centeredX;
  bottom: 30%;

  @media #{$brk-narrow} {
    bottom: -35%;
  }
}

#myVideo {
  position: fixed;
  left: 210px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: scale(1.25);

  @media #{$brk-narrow} {
    display: none;
  }
}