/* Masthead */

.nav {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .custom-toggler;
}

.nav-ul {
  @extend .justify-content-center;
  @extend .mx-auto;
  @extend .navbar-nav;
  @extend .mr-auto;
  @extend .mt-2;
  @extend .mt-lg-0;
}

.nav-link {
  color: $white;
  margin: 0 1rem;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);

    @include media-breakpoint-down(xs) {
      font-size: 100%;
      color: $black;
      transform: scale(1);
    }
  }
}

#header-container {
  @include fullheight();
}

.logo {
  @extend .col-xl-6;
  @extend .col-lg-8;
  @extend .col-md-10;
  @extend .col-sm-12;
  @extend %centeredX;
  bottom: 30%;

  @include media-breakpoint-down(xs) {
    bottom: -35%;
  }
}

#myVideo {
  position: fixed;
  left: 210px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: scale(1.25);

  @include media-breakpoint-down(xs) {
    display: none;
  }
}