
#next-arrow {
  width: 50px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  fill: white;
}

#prev-arrow {
  width: 50px;
  transform: rotate(180deg) translateY(38%);
  position: absolute;
  top: 50%;
  left: 5%;
  fill: white;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.footer-icon {
  font-size: 150%;
  color: $black;

  @include media-breakpoint-down(xs) {
      font-size: 125%;
  }
  @include media-breakpoint-down(sm) {
      font-size: 200%;
  }
}